/* StockUpdate.css */

.stock-wrapper {
  display: flex;
  flex-direction: row;
}

.stock-sidebar {
  flex: 1;
}

.stock-container {
  display: grid;
  gap: 15px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  flex: 2;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.stock-card {
  background: white;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  width: 180px;
}

.stock-title {
  font-size: 18px;
}

.stock-input {
  width: 80%;
  padding: 8px;
  font-size: 14px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: center;
}

.stock-update-btn {
  margin-top: 6px;
  padding: 6px 14px;
  font-size: 11px;
  font-weight: bold;
  color: white;
  background: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.stock-update-btn:hover {
  background: #0056b3;
}

@media (max-width: 768px) {
  .stock-wrapper {
    flex-direction: column;
  }
}